body {
    margin: 0px;
}


/* Dseño */


/*imagen*/

.tn {
    width: 1320px;
    height: 100px;
    left: 0px;
    top: -2px;
}


/* Frame */

.Frame {
    width: 1378px;
    height: 802px;
    left: -10px;
    top: 4px;
}


/*RECTANGULOS REGISTRO*/


/* Rectangle 3 */

.rectangle3 {
    width: 1330px;
    height: 502px;
    left: 4px;
    top: 100px;
    background: #EDE2CF;
    border-radius: 23px;
}


/* Rectangle 4 
.rectangle4{
position: absolute;
width: 1213px;
height: 645px;
left: 69.75px;
top: 322px;

background: #EDE2CF;
border-radius: 23px;
}
*/


/*texto*/


/* avisos */

.aviso {
    width: 267px;
    height: 90px;
    left: 543px;
    top: 838px;
}


/* Iniciar sesión */

.iniciar_sesion_link {
    width: 192px;
    height: 45px;
    left: 520px;
    top: 545px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    color: #41AEB5;
}


/* ¿Ya tiene cuenta? */

.tiene_cuenta {
    width: 267px;
    height: 45px;
    left: 500px;
    top: 500px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    color: #000000;
}


/*BOTON DE REGISTRAR*/


/* Register */

.registrar {
    width: 179px;
    height: 60px;
    left: 515px;
    top: 400px;
}


/* Rectangle 9 */

.rectangle_registrar {
    width: 179px;
    height: 60px;
    left: 5px;
    top: 40px;
    background: #9E7E4F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


/* Registrar */

.registrar_label {
    width: 137px;
    height: 45px;
    left: 10px;
    top: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    color: #FFFFFF;
}


/*BOTON REGISTRO*/


/* Registro */

.regis_button {
    width: 191px;
    height: 68px;
    left: 1101px;
    top: 0px;
}


/* Rectangle 7 */

.rectangle7 {
    width: 131px;
    height: 58px;
    left: 11px;
    top: 12px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
}


/* REGISTRO */

.registro {
    width: 141px;
    height: 45px;
    left: 27px;
    top: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
    /* identical to box height */
    color: #524343;
}


/*BOTON INICIAR SESION*/


/* Iniciar sesion */

.iniciar_sesion {
    width: 235px;
    height: 68px;
    left: 920px;
    top: 0px;
}


/* Rectangle 8 */

.rectangle8 {
    width: 175px;
    height: 58px;
    left: 0px;
    top: 12px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
}


/* INICIAR SESIÓN */

.iniciar {
    width: 250px;
    height: 45px;
    left: 13px;
    top: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
    /* identical to box height */
    color: #524343;
}


/*NOMBRE*/


/* Frame 1 */

.nombre {
    width: 428px;
    height: 89px;
    left: 103px;
    top: 72px;
}


/* Rectangle 13 */

.rectangle_nombre {
    width: 300px;
    height: 48px;
    left: -40px;
    top: 83px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
}


/* Nombre */

.nombre_label {
    width: 97px;
    height: 36px;
    left: -40px;
    top: 42px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}


/* Ingrese su Nombre */

.ing_nombre_text {
    width: 243px;
    height: 35px;
    left: 17px;
    top: 90px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.2);
}


/*APELLIDO PATERNO*/


/* Apellido Paterno */

.apellido_paterno {
    width: 428px;
    height: 89px;
    left: 463px;
    top: 72px;
}


/* Apellido Paterno */

.apellido_paterno_label {
    width: 194px;
    height: 36px;
    left: -66px;
    top: 42px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}


/* Rectangle 12 */

.rectangle_paterno {
    width: 430px;
    height: 48px;
    left: -66px;
    top: 83px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
}


/* Ingrese su Apellido Paterno */

.ing_pateno_text {
    width: 428;
    height: 36px;
    left: 0px;
    top: 90px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.2);
}


/* mdi:account */

.icono_paterno {
    width: 38px;
    height: 38px;
    left: 475px;
    top: 393px;
}


/* Vector */

.vector_paterno {
    left: 16.67%;
    right: 16.67%;
    top: 16.67%;
    bottom: 16.67%;
    background: #000000;
}


/*APELLIDO MATERNO*/


/* Apellido Materno */

.apellido_materno {
    width: 428px;
    height: 99px;
    left: 916px;
    top: 72px;
}


/* RECTANGULO MATERNO 5 */

.rectangle_materno {
    width: 445px;
    height: 48px;
    left: -66px;
    top: 83px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
}


/* Ingrese su Apellido Materno */

.ing_materno_text {
    width: 429px;
    height: 36px;
    left: 0px;
    top: 90px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.2);
}


/* Apellido Materno */

.apellido_materno_label {
    width: 201px;
    height: 36px;
    left: -66px;
    top: 42px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}


/* mdi:account */

.icono_materno {
    width: 38px;
    height: 38px;
    left: 929px;
    top: 393px;
}


/* Vector */

.vector_materno {
    left: 16.67%;
    right: 16.67%;
    top: 16.67%;
    bottom: 16.67%;
    background: #000000;
}


/*CURP*/


/* CURP */

.CURP {
    width: 649px;
    height: 85.96px;
    left: 63px;
    top: 160px;
}


/* Rectangle 14 */

.rectangle_CURP {
    width: 649px;
    height: 48px;
    left: 0px;
    top: 95px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
}


/* image 1 
position: absolute;
width: 45.19px;
height: 45.19px;
left: 117.76px;
top: 499.76px;

background: url(.png);
*/


/* CURP */

.CURP_label {
    width: 63px;
    height: 36px;
    left: 0px;
    top: 59px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}


/* Ingrese su CURP */

.ing_CURP_text {
    width: 348px;
    height: 36px;
    left: 57px;
    top: 101px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.2);
}


/*CORREO ELECTRONICO*/


/* Correo */

.correo {
    width: 567px;
    height: 94px;
    left: 725px;
    top: 160px;
}


/* Rectangle 10 */

.rectangle_correo {
    width: 567px;
    height: 48px;
    left: 7px;
    top: 95px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
}


/* E-mail Image 
position: absolute;
width: 45.19px;
height: 45.19px;
left: 792px;
top: 499px;

background: url(.png);
*/


/* Ingrese su Correo Electronico */

.ing_correo_text {
    width: 448px;
    height: 36px;
    left: 85px;
    top: 104px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.2);
}


/* Correo Electronico */

.correo_label {
    width: 219px;
    height: 36px;
    left: 7px;
    top: 59px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}


/*CALLE*/


/* Calle */

.calle {
    width: 221px;
    height: 95px;
    left: 53px;
    top: 165px;
}


/* Rectangle 11 */

.rectangle_calle {
    width: 221px;
    height: 48px;
    left: 0px;
    top: 201px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
}


/* Calle */

.calle_label {
    width: 61px;
    height: 36px;
    left: 0px;
    top: 154px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}


/*N.EXTERIOR*/


/* N. ext */

.exterior {
    width: 87px;
    height: 95px;
    left: 287px;
    top: 165px;
}


/* Rectangle 15 */

.rectangle_exterior {
    width: 87px;
    height: 48px;
    left: 7px;
    top: 201px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
}


/* No. Ext. */

.exterior_label {
    width: 79px;
    height: 36px;
    left: 7px;
    top: 154px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}


/*N.INTERIOR*/


/* N.int */

.interior {
    width: 87px;
    height: 95px;
    left: 395px;
    top: 165px;
}


/* Rectangle 18 */

.rectangle_interior {
    width: 87px;
    height: 48px;
    left: 10px;
    top: 201px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
}


/* No. Int. */

.interior_label {
    width: 77px;
    height: 36px;
    left: 10px;
    top: 154px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}


/*Colonia*/


/* Colonia */

.colonia {
    width: 243px;
    height: 97px;
    left: 503px;
    top: 165px;
}


/* Rectangle 16 */

.rectangle_colonia {
    width: 243px;
    height: 48px;
    left: 10px;
    top: 201px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
}


/* Colonia */

.colonia_label {
    width: 92px;
    height: 36px;
    left: 10px;
    top: 154px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}


/*Municipio*/


/* Municipio */

.municipio {
    width: 230px;
    height: 91px;
    left: 760px;
    top: 165px;
}


/* Rectangle 17 */

.rectangle_municipio {
    width: 230px;
    height: 48px;
    left: 10px;
    top: 201px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
}


/* Municipio */

.municipio_label {
    width: 114px;
    height: 36px;
    left: 10px;
    top: 154px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}


/*ESTADO*/


/* estado */

.estado {
    width: 230px;
    height: 101px;
    left: 1008px;
    top: 165px;
}


/* Rectangle 19 */

.rectangle_estado {
    width: 230px;
    height: 48px;
    left: 18px;
    top: 201px;
    background: #DDC9A3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
}


/* Estado */

.estado_label {
    width: 81px;
    height: 36px;
    left: 26px;
    top: 154px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}