body {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    line-height: 45px;
}

.login-container {
    background-color: #DDC9A3;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    border-radius: 23px;
    transform: translate(-50%, -30%);
}

.login-box {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 23px;
    transform: translate(-50%, -50%);
    width: 94%;
    height: 85%;
    padding: 60px 30px;
}

.login-box label {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 30px;
    font-family: Poppins;
}

.login-box input {
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    background-color: #DDC9A3;
    border-radius: 147px;
    height: 50px;
    outline: none;
    font-size: 30px;
    left: 90%;
    font-family: Poppins;
}

.login-box input[type="submit"] {
    border: none;
    height: 50px;
    border: none;
    border-radius: 30px;
    margin-top: 40px;
    background: #9E7E4F;
    color: white;
    font-family: Poppins;
    font-size: 30px;
}