
        <header class="u-clearfix u-header u-image u-header" id="sec-2b73" data-image-width="1440" data-image-height="263">
            {{#if url}}
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                <a href="/registro" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-hover-custom-color-3 u-radius-50 u-btn-1">REGISTRARSE</a>
                 <a href="/" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-hover-custom-color-3 u-radius-50 u-btn-1">INICIAR SESIÓN</a>
            </div>
            {{else}}
                    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                        <a href="/" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-hover-custom-color-3 u-radius-50 u-btn-1">SALIR</a>
                    </div>
            {{/if}}
        </header>

