<!DOCTYPE html>
<html lang="en">


        <section>
            <div class="contenido">
                <div class="card"></div>
                <div class="card2">
                    <div class="card-body">
                        <form action="/" method="POST">
                            <div class="form-group curp">
                                <p class="input-text" id="text-curp">CURP</p>
                                <img class="input-image" id="image-curp" src="Image/id.png">
                                <input inputmode = "verbatim" maxlength="18" minlength="18"  name ="curp" class="input-value form-control" id="curp" type="al" placeholder="Ingrese su curp" required autofocus>
                            </div>
                            <div class="form-group">
                                <p class="input-text" id="text-pass">Password</p>
                                <img class="input-image form-control" id="image-pass" src="Image/psd.png">
                                <input class="input-value" id="pass" type="password" name = "password" placeholder="Ingrese su contraseña" required>
                            </div>
                            <div class="form-group">
                                <input id="c1" class="checkbox capt" type="checkbox" value="true" required>
                                <label for="c1" class="capt-text">No soy un Robot</label>
                            </div>
                            <div class="form-group">
                                <button class="button" id="login-1">INICIAR SESION</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</body>

</html>