<div class="login-container">
    <div class="login-box">
        <form action="/" method="POST">
            <!--CURP-->
            <label for="curp">Curp</label>
            <input name = "curp" maxlength="18" minlength="18" type = "text" placeholder="Ingresa tu curp">
            <!--PASSWORD-->
            <label for = "password">Contraseña</label>
            <input name = "password" type = "password" placeholder="Ingrese su contraseña">
            <!--LOGIN-->
            <input type="submit" value="Iniciar Sesión">
        </form>
    </div>
</div>