<div class="container">
    <main>
		<div class="Frame">
			<div class="rectangle3"></div>
			
		</div>

		<div class="aviso"></div>


		<div class="registrar">
			<div class="rectangle_registrar"></div>
			<div class="registrar_label">REGISTRAR</div>	
		</div>

		<div class="nombre">
			<div class="nombre_label">Nombre</div>
			<div class="rectangle_nombre"></div>
			<div class="ing_nombre_text">INGRESE NOMBRE</div>
		</div>
		<div class="apellido_paterno">
			<div class="apellido_paterno_label">Apellido Paterno</div>
			<div class="rectangle_paterno"></div>
			<div class="ing_pateno_text">INGRESE APELLIDO PATERNO</div>
		</div>
		<div class="apellido_materno">
			<div class="apellido_materno_label">Apellido Materno</div>
			<div class="rectangle_materno"></div>
			<div class="ing_materno_text">INGRESE APELLIDO MATERNO</div>
		</div>
		<div class="CURP">
			<div class="CURP_label">CURP</div>
			<div class="rectangle_CURP"></div>
			<div class="ing_CURP_text">INGRESE CURP</div>
		</div>
		<div class="correo">
			<div class="correo_label">Correo Electrónico</div>
			<div class="rectangle_correo"></div>
			<div class="ing_correo_text">INGRESE CORREO ELECTRÓNICO</div>
		</div>
		<div class="calle">
			<div class="calle_label">Calle</div>
			<div class="rectangle_calle"></div>
		</div>
		<div class="exterior">
			<div class="exterior_label">No.Ext.</div>
			<div class="rectangle_exterior"></div>
		</div>
		<div class="interior">
			<div class="interior_label">No.Int.</div>
			<div class="rectangle_interior"></div>
		</div>
		<div class="colonia">
			<div class="colonia_label">Colonia.</div>
			<div class="rectangle_colonia"></div>
		</div>
		<div class="municipio">
			<div class="municipio_label">Municipio.</div>
			<div class="rectangle_municipio"></div>
		</div>
		<div class="estado">
			<div class="estado_label">Estado.</div>
			<div class="rectangle_estado"></div>
		</div>
	</main>
</div>