
    <main>
        <form action="/registro" method="post"><div class="Frame">
            <div class="rectangle3"></div>
            <div class="rectangle4"></div>
        </div>

        <div class="registrar form-control">
            <Button class="button" id="login-2">REGISTRAR</Button>
        </div>

        <div class="nombre">
            <div class="nombre_label">Nombre</div>
            <input name = "name"type ="text" class="rectangle_nombre input-text" placeholder="INGRESA NOMBRE" required></input>
        </div>
        <div class="apellido_paterno">
            <div class="apellido_paterno_label">Apellido Paterno</div>
            <input name = "apellidoPaterno" type = "text" class="rectangle_paterno input-text" placeholder="INGRESE APELLIDO PATERNO" required></input>
        </div>
        <div class="apellido_materno">
            <div class="apellido_materno_label">Apellido Materno</div>
            <input name ="apellidoMaterno" type="text" class="rectangle_materno input-text" placeholder="INGRESE APELLIDO MATERNO" required></input>
        </div>
        <div class="CURP">
            <div class="CURP_label">CURP</div>
            <input name ="curp" type="text" minlength="18" maxlength="18" class="rectangle_CURP input-text" placeholder="INGRESE CURP" required></input>
        </div>
        <div class="correo">
            <div class="correo_label">Correo Electrónico</div>
            <input name ="email" type="email" class="rectangle_correo input-text" placeholder="INGRESE CORREO ELECTRÓNICO" required></input>
        </div>
        <div class="calle">
            <div class="calle_label" >Calle</div>
            <input name="calle" type="text" class="rectangle_calle input-text" placeholder="Calle" required></input>
        </div>
        <div class="exterior">
            <div class="exterior_label">No.Ext.</div>
            <input name ="N_ext" type="number" class="rectangle_exterior input-text" placeholder="No. Ext."></input>
        </div>
        <div class="interior">
            <div class="interior_label">No.Int.</div>
            <input name ="N_int" type="number"class="rectangle_interior input-text" placeholder="No. Int."></Input>
        </div>
        <div class="colonia">
            <div class="colonia_label">Colonia.</div>
            <input name="Colonia" type="text" class="rectangle_colonia input-text" placeholder="Colonia" required></input>
        </div>
        <div class="municipio">
            <div class="municipio_label">Municipio.</div>
            <input name="Municipio" type="text" class="rectangle_municipio input-text" placeholder="Municipio" required></input>
        </div>
        <div class="estado">
            <div class="estado_label">Estado.</div>
            <input name="estado" type="text" class="rectangle_estado input-text" placeholder="Estado" required></input>
        </div>
        <div class="password">
            <div class="password_label">Contraseña</div>
            <input name="password" type="password" class="rectangle_password input-text" placeholder="Contraseña" required></input>
        </div>
        </form>
    </main>
